
.tile {
  width: 420px;
  background-color: white;
  color: black;
}
.image{
  width: 420px;
}
.info-section{
  text-align: left;
  padding: 15px;
}
.series-name{
  font-weight: bold;
}
.action-buttons{
  margin-top: -120px;
  margin-bottom: 15px;
  padding-left: 350px;
  padding-bottom: 5px;
}
